* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #D3D3D3;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.hero-section {
    display: flex;
    padding: 1em 5em;
    justify-content: space-evenly;
    margin: 1em;
}


.hero-section-left {
    width: 20em;
    background-color: #EDEDED;
}


.hero-section-left-top {
    margin: 1em;
    padding: 0.5em;
    background-color: #FFFFFF;
    width: 70%
}
.hero-section-left-middle {
    margin-top: 2em;
    padding: 1em;
}
.hero-section-left-bottom {
    margin: 2em;
}

button {
    margin-top: 10px;
    padding: 3px;
    width: 100px;
    height: 30px;
    border: none;
    background-color: #FFFFFF;
}

.hero-section-right {
    background-color: #EDEDED;
    width: 12em;
    border-radius: 30px;
    text-align: center;
}

.hero-section-right-top {
    margin-top: 2em;
    padding: 1em;
    padding-top: 85%
}
.money-section {
    padding: 1em 5em;
    margin: 1em;
    text-align: center;
    background-color: #c4c4c4
}

.money-section-bottom {
    display: flex;
    justify-content: space-evenly;
}


.money-section-bottom-item {
    width: 8em;
    background-color: #ffffff;
    font-size: 20px;
    padding-top: 2em;
    padding-bottom: 0.5em;
    margin-top: 1em;
}
.money-section-bottom-item p {
    margin-top: 5em;
}

.money-section-bottom-item button {
    width: 9em;
    height: 2em;
    border: none
}